Source: kafka-rest
Section: database
Priority: extra
Maintainer: Norbert Hu <norbert@uber.com>
Build-Depends: debhelper (>= 8.0.0), openjdk-7-jdk, curl
Standards-Version: 3.9.3
Homepage: http://confluent.io/docs/current/index.html

Package: kafka-rest
Architecture: all
Depends: openjdk-7-jre-headless
Description:
The Kafka REST Proxy provides a RESTful interface to a Kafka cluster. It
makes it easy to produce and consume messages, view the state of the
cluster, and perform administrative actions without using the native
Kafka protocol or clients. Examples of use cases include reporting data
to Kafka from any frontend app built in any language, ingesting messages
into a stream processing framework that doesn’t yet support Kafka, and
scripting administrative actions.